[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openpyxl = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
