body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(215, 215, 215);
    background-image: linear-gradient(90deg, rgb(84, 126, 128),rgb(151, 69, 69))
  }

h1 {
    text-align: center;
    padding-top: 0.3em;
}

div {
    text-align: center;
}

p {
    text-align: justify;
    padding-left: 7em;
    padding-right: 7em;
    font-size: small;
}

p em {
  color: rgb(185, 138, 194);
  font-style: normal;
}

.lead {
    text-align: center;
}

.error {
    color: tomato;
}

input[type=file]::file-selector-button {
    background-color: rgb(84, 126, 128, 0);
    border: 1px solid rgba(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: .2em .4em;
    border-radius: .2em;
    transition: 0.3s;
  }

input [type=file] {
    border: 1px white;
}

  input[type=file]::file-selector-button:hover {
    background-color: #1fe0;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
  }

input[type=submit].download {
    background-color: rgb(84, 126, 128, 0);
    border: 1px solid rgba(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: .2em .4em;
    border-radius: .2em;
    transition: 0.3s;
}

input[type=submit].download:hover  {
    background-color: rgba(255, 255, 255);
    border: 1px solid #ffffff;
    color: rgb(0, 0, 0);
  }